*{
    font-family: 'Open Sans',sans-serif;
    scroll-behavior: smooth;
}
:root{
    --backgroung-color:#292929;
    --color:#1fa8d1;
    --color-window:rgba(31, 168, 209, 0.7);

    --link__redes:calc(100vw/72);
}
.body{
    background-color: var(--backgroung-color);
}
.body::-webkit-scrollbar{
    display: block;
    width: 0.5vw;
    background-color: rgba(51, 51, 51, 0.8);
}
.body::-webkit-scrollbar-thumb{
    border-radius: 50px;
    display: block;
    /* width: 2px; */
    background-color: var(--color);
}
.header{
    box-sizing: border-box;
    width: 100%;
    height: 8vh;
    padding: 0 10%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 10;

    position: fixed;
}
.botton_contacts{
    box-shadow: 0px 0px 5px 3px rgba(20, 20, 20, 0.3);

    height: 80%;
    width: 7%;
    cursor:pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color);
    border-radius: 100px;
}
.bottom-icon{
    height: 70%;
}
.sections_menu{
    background-color: var(--color);
    outline: 3px solid var(--backgroung-color);
    border-radius: 100px;

    width: 50%;
    /* width: 550px; */
    height: 80%;
    gap:10%;

    position: relative;

    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.selector{
    width: 100%;
    height: 110%;

    display: grid;    

    transition-property: right;
    transition-duration: 1s;
}
.select__img{
    height: 100%;
}
.section{
    background: url(../assets/images/selector.png); 
    background-position:  top;
    background-size: 55% 75%; 
    background-repeat: no-repeat;

    overflow: hidden;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;

    transition-property: background-size;
}
.section--1{
    background-size: 55% 75%;
    
}
.section--2{
    background-size: 0%;
}
.section--3{
    background-size: 0%;
}
@keyframes animation-header-select {
    0%{background: url(../assets/images/selector.png) top/0% 0% no-repeat;}
    100%{background: url(../assets/images/selector.png) top/55% 75% no-repeat;}
}
@keyframes animation-header-select-mobile {
    0%{background: url(../assets/images/selector.png) top/0% 0% no-repeat;}
    100%{background: url(../assets/images/selector.png) top/100% 75% no-repeat;}
}
@keyframes animation-header-deselect {
    0%{background: url(../assets/images/selector.png) top/55% no-repeat;}
    100%{background: url(../assets/images/selector.png) top/0% no-repeat;}
}
@keyframes animation-header-deselect-mobile {
    0%{background: url(../assets/images/selector.png) top/100% no-repeat;}
    100%{background: url(../assets/images/selector.png) top/0% no-repeat;}
}
.indicator{
    background-color: #333;
    border-radius: 100px;

    width: 0.5vw;
    height: 0.5vw;

    position: absolute;
    bottom: 2px;
}
@keyframes animation-header-indicator {
    0%{
        background-color: #333;
        box-shadow: 0 0 0px 0px #333;}
    100%{
        background-color: #00ff73;
        box-shadow: 0 0 3px 1px #00ff73;}
}
@keyframes animation-header-indicator-deselect {
    0%{
        background-color: #00ff73;
        box-shadow: 0 0 3px 1px #00ff73;}
    100%{
        background-color: #333;
        box-shadow: 0 0 0px 0px #333;}
}
.indicator--1{
    background-color: #00ff73;
    box-shadow: 0 0 3px 1px #00ff73;
}
.icon{
    border-radius: 100px;
    width: 30%;
    min-width: 3vh;
    cursor:pointer;

    z-index: 10;
    position: relative;
    bottom: 10%;
}
@keyframes animation-header-icon {
    0%{
        width: 30%;
        bottom: 10%;}
    100%{
        width: 23%;
        bottom: 15%;}
}
@keyframes animation-header-icon-deselect {
    0%{
        width: 23%;
        bottom: 15%;}
    100%{
        width: 30%;
        bottom: 10%;}
}
.icon--1{
    width: 23%;
    bottom: 15%;
}
.barra__lateral{
    /* background-color: #007da3; */
    /* background-color: var(--color); */
    box-shadow: 0px 0px 2vw 1vw rgba(13, 13, 13, 0.217);

    box-sizing: border-box;
    height: 100vh;
    width: 25vh;

    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    /* left: -30vw; */
    left: -50vh;

    z-index: 10;

    transition-property: left;
    transition-duration: 1s;
}
.barra__lateral__qr{
    background-color: var(--backgroung-color);
    overflow: hidden;
    /* outline: 3px solid var(--color); */

    /* width: 97.5%; */
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow:column nowrap;
    align-items: center;

    z-index: 10;
}
.qr{
    background-color: rgb(251, 251, 251);
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;

    outline: 3px solid var(--color);

    width: 150%;
}
.barra__lateral__redes{
    /* width: 90%; */
    height: 55%;

    margin-top: 20%;

    /* position: absolute; */
    /* bottom: 0; */
}
.red__social{
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 20%;
}
.red__logo{
    width: 30%;
}
.red__link{
    background-color: #fff;
    color: #292929;
    border-radius: 6px;
    outline: 3px solid var(--color);

    width: 65%;
    height: 10%;

    /* font-family: sans-serif; */
    font-weight: 900;
    font-size: var(--link__redes);
    text-decoration: none;
    
    display: flex;
    justify-content: center;
}
.barra__lateral__close{
    background-color: rgba(41, 41, 41, 0.8);
    outline: 3px solid var(--color);
    border-radius: 100px;
    cursor:pointer;

    width: 30%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;

    position: absolute;
    right: -20%;
}
.close__icon{
    width: 50%;
    position: relative;
    right: 10%;
}