@media screen and (max-width: 425px) {
    /* header */
    .header{
        min-height: 6vw;
    }
    .botton_contacts{
        width: 20%;
        max-width: 20vh;
    }
    .sections_menu{
        width: 70%;
        max-width: 80vh;
        gap: 0%;
    }
    .section--1{
        background-size: 100% 75%;   
    }
    .indicator{
        bottom: 5px;
    }
    .barra__lateral{
        width: 40vw;
        max-width: 23vh;
        left: -50vh;
    }
    .bottom-icon{
        width: 50%;
    }

    /* style 0 */
    /* :root{
        --backgroung-color:#292929;
        --color:#1fa8d1;
        --color-window:rgba(31, 168, 209, 0.7);



        --tittle:1.2rem;
        --subtittle:0.9rem;
        --tittle2:1rem;
        --description:0.8rem;



        --buttom_text:0.9rem;
        --tittle_view:0.9rem;
        --description_view:0.7rem;



        --buttoms__aside:0.8rem;

        --window-tittle:0.6rem;
        --window-description:0.46rem;
        --buttom_expands:0.7rem;

        --bottoms_download:0.7rem;
        --description_corriculo:0.7rem;

        --target-section:1.2rem;
        --target-tittle:0.5rem;
    } */
    :root{
        --backgroung-color:#292929;
        --color:#1fa8d1;
        --color-window:rgba(31, 168, 209, 0.7);

        /* style 0 */
        --tittle: calc(100vw / 18);
        --subtittle:calc(100vw / 24);
        --tittle2:calc(100vw / 28);
        --description:calc(100vw / 36);

        /* style 1 */
        --buttom_text:calc(100vw / 36);
        --tittle_view:calc(100vw / 36);
        --description_view:calc(100vw / 48);

        /* style 2 */
        --buttoms__aside:calc(100vw / 32);

        --window-tittle:calc(100vw / 28);
        --window-description:calc(100vh / 92);
        
        --description_corriculo:calc(100vh / 54);
        --bottoms_download:calc(100vh / 64);
        
        --target-section:calc(100vh / 32);
        --target-tittle:calc(100vh / 52);

        --buttom_expands:calc(100vw / 32);
    }
    .logo{
        width: 30vw;
        max-width: 25vh;
        border-radius: 100%;
    }
    .desplazar__buttom{
        width: 700%;
        max-width: 15vh;
    }
    .panel--2{
        background: 
        linear-gradient(0deg,rgb(10, 10, 10),rgba(10,10,10, 0.3)),
        linear-gradient(180deg,rgb(10, 10, 10),rgba(10,10,10, 0.3))
        ,url("../assets/images/font.jpg") center/cover no-repeat ;
        height: auto;

        flex-flow: column-reverse nowrap;
    }
    .color--1{
        background: none;
        width: 100%;
        height: auto;

        text-align: center;
        justify-content: flex-end;

        position: relative;
        top: 7%;
    }
    .color--2{
        background-color: #1c1c1c00;
        
        width: 100%;
        height: auto;
        justify-content: center;

        position: relative;
        top: 5vh;
    }
    .transparent{
        outline: 1vh dashed var(--color);
        border: 2vh solid rgba(51, 51, 51, 0);

        width: 20vh;
        min-width: 20vw;

        /* position: absolute; */
        top: 5%;
        right: 0;
    }
    /* style 1 */
    .main--2{
        height: 100vh;
    }
    .buttoms{
        width: 30%;
        height: 36%;
    }
    .box__views{
        height: 77%;
    }
    .views{
        height: 50%;
        margin: 0;

        flex-flow: row wrap;
        align-items: center;
        gap: 4%;

        position: relative;
        top: 5%;
    }
    .view{
        width: 40%;
        height: 50%;
    }
    .view__description{
        margin-top: 2%;
    }
    /* style 2 */
    .main--3{
        overflow-y: hidden;
    }
    .main__content{
        width: 100vw;
    }
    .aside__bottoms{
        background-color: rgba(31, 168, 209, 0.9);
        width: 50vw;

        position: absolute;
        left: -100vw;
    }
    .aside__bottom{
        height: 6%;
    }
    .aside__buttom__content{
        gap: 15%;
    }
    .aside__content{
        flex-flow: column;
        margin: 0;
    }
    .column__window{
        width: 100%;
        height: 20%;
    
        display: flex;
        flex-flow: row;
        justify-content: center;
        gap: 5%;
    }
    .window{
        width: 50%;
        height: 100%;
    }
    /* Seccion 2 */
    .content__corriculom{
        width: 100%;
        height: 20%;
    }
    .aside__content--2{
        padding-top: 20%;
    }
    .target__language{
        flex-flow: column;
        gap: 5%;
    }
    .img__icon{
        height: 35%;
    }
    .icon__star{
        width: 50%;
    }
}
/* @media screen and (min-width:321px) and (max-width:375px) {
    :root{
        --backgroung-color:#292929;
        --color:#1fa8d1;
        --color-window:rgba(31, 168, 209, 0.7);
        
        

        --tittle:1.5rem;
        --subtittle:1rem;
        --tittle2:1.2rem;
        --description:0.9rem;
        
        

        --buttom_text:0.9rem;
        --tittle_view:0.9rem;
        --description_view:0.7rem;
        
        

        --buttoms__aside:0.8rem;

        --window-tittle:0.7rem;
        --window-description:0.5rem;
        --buttom_expands:0.8rem;

        --description_corriculo:0.8rem;
        --bottoms_download:0.8rem;

        --target-section:1.2rem;
        --target-tittle:0.5rem;
    }
}
@media screen and (min-width:376px) and (max-width:425px) {
    :root{
        --backgroung-color:#292929;
        --color:#1fa8d1;
        --color-window:rgba(31, 168, 209, 0.7);
        
        

        --tittle:1.5rem;
        --subtittle:1rem;
        --tittle2:1.2rem;
        --description:0.9rem;
        
        

        --buttom_text:0.9rem;
        --tittle_view:0.9rem;
        --description_view:0.7rem;
        
        

        --buttoms__aside:0.8rem;

        --window-tittle:0.7rem;
        --window-description:0.52rem;
        --buttom_expands:0.8rem;

        --description_corriculo:0.8rem;
        --bottoms_download:0.8rem;

        --target-section:1.2rem;
        --target-tittle:1rem;
    }
}

@media screen and (min-width:426px) and (max-width:1024px) {
    :root{
        --backgroung-color:#292929;
        --color:#1fa8d1;
        --color-window:rgba(31, 168, 209, 0.7);
        
        

        --tittle:1.8rem;
        --subtittle:1.2rem;
        --tittle2:1.6rem;
        --description:1.2rem;
        
        

        --buttom_text:1.2rem;
        --tittle_view:1.2rem;
        --description_view:0.8rem;
        
        

        --buttoms__aside:1rem;

        --window-tittle:0.85rem;
        --window-description:0.62rem;
        --buttom_expands:0.8rem;

        --description_corriculo:1.2rem;
        --bottoms_download:1rem;

        --target-section:1.2rem;
        --target-tittle:1rem;
    }
    .color--1{
        padding: 8% 9% 0;
    }
    .view__description{
        margin-top: 2%;
    }
    .views{
        top: 2%;
    }
}
@media screen and (min-width:426px) and (max-width:764px) and (min-height:800px) {
    :root{
        --backgroung-color:#292929;
        --color:#1fa8d1;
        --color-window:rgba(31, 168, 209, 0.7);
        
        

        --tittle:1.8rem;
        --subtittle:1.2rem;
        --tittle2:1.6rem;
        --description:1.2rem;
        
        

        --buttom_text:1.2rem;
        --tittle_view:1.2rem;
        --description_view:0.8rem;
        
        

        --buttoms__aside:1rem;

        --window-tittle:0.85rem;
        --window-description:0.68rem;
        --buttom_expands:0.8rem;

        --description_corriculo:1.2rem;
        --bottoms_download:1rem;

        --target-section:1.2rem;
        --target-tittle:1rem;
    }
} */
@media screen and (min-width: 426px) and (max-width:800px) {
    /* header */
    .header{
        min-height: 6vw;
    }
    .botton_contacts{
        width: 20%;
    }
    .sections_menu{
        width: 70%;
        gap: 0%;
    }
    .section--1{
        background-size: 100% 75%;   
    }
    .indicator{
        bottom: 5px;
    }
    .barra__lateral{
        width: 40vw;
        max-width: 23vh;
        left: -50vh;
    }
    .bottom-icon{
        width: 50%;
    }

    /* style 0 */
    :root{
        --backgroung-color:#292929;
        --color:#1fa8d1;
        --color-window:rgba(31, 168, 209, 0.7);
        /* style 0 */
        /* --tittle:3rem; */
        --tittle: calc(100vw / 24);
        --subtittle:calc(100vw / 32);
        /* --subtittle:1.8rem; */
        /* --tittle2:1rem; */
        --tittle2:calc(100vw / 28);
        /* --description:0.8rem; */
        --description:calc(100vw / 36);
        /* style 1 */
        /* --buttom_text:0.9rem; */
        --buttom_text:calc(100vw / 36);
        /* --tittle_view:0.9rem; */
        --tittle_view:calc(100vw / 36);
        /* --description_view:0.7rem; */
        --description_view:calc(100vw / 48);
        /* style 2 */
        --buttoms__aside:calc(100vw / 32);

        --window-tittle:calc(100vw / 42);
        --window-description:calc(100vh / 80);
        
        --description_corriculo:calc(100vh / 54);
        --bottoms_download:calc(100vh / 64);
        
        --target-section:calc(100vh / 32);
        --target-tittle:calc(100vh / 52);

        --buttom_expands:calc(100vw / 32);
    }
    .logo{
        width: 30vw;
        max-width: 25vh;
        border-radius: 100%;
    }
    .desplazar__buttom{
        width: 700%;
        max-width: 15vh;
    }
    .panel--2{
        background: 
        linear-gradient(0deg,rgb(10, 10, 10),rgba(10,10,10, 0.3)),
        linear-gradient(180deg,rgb(10, 10, 10),rgba(10,10,10, 0.3))
        ,url("../assets/images/font.jpg") center/cover no-repeat ;
        height: auto;

        flex-flow: column-reverse nowrap;
    }
    .color--1{
        background: none;
        width: 100%;
        height: auto;

        text-align: center;
        justify-content: flex-end;

        position: relative;
        top: 7%;
    }
    .color--2{
        background-color: #1c1c1c00;
        
        width: 100%;
        height: auto;
        justify-content: center;

        position: relative;
        top: 5vh;
    }
    .transparent{
        outline: 1vh dashed var(--color);
        border: 1vh solid rgba(51, 51, 51, 0);

        width: 20vh;
        min-width: 20vw;

        /* position: absolute; */
        top: 5%;
        right: 0;
    }
    /* style 1 */
    .main--2{
        height: 100vh;
    }
    .buttoms{
        width: 30%;
        height: 36%;
    }
    .box__views{
        height: 77%;
    }
    .views{
        height: 50%;
        margin: 0;

        flex-flow: row wrap;
        align-items: center;
        gap: 4%;

        position: relative;
        top: 5%;
    }
    .view{
        width: 40%;
        height: 50%;
    }
    .view__description{
        margin-top: 2%;
    }
    /* style 2 */
    .main--3{
        overflow-y: hidden;
    }
    .main__content{
        width: 100vw;
    }
    .aside__bottoms{
        background-color: rgba(31, 168, 209, 0.9);
        width: 50vw;
        height: 100%;

        position: absolute;
        left: -100vw;
    }
    .aside__bottom{
        height: 6%;
    }
    .aside__buttom__content{
        gap: 15%;
    }
    .aside__content{
        flex-flow: column;
    }
    .column__window{
        width: 100%;
        height: 20%;
    
        display: flex;
        flex-flow: row;
        justify-content: center;
        gap: 5%;
    }
    .window{
        width: 50%;
        height: 100%;
    }
    /* Seccion 2 */
    .content__corriculom{
        width: 100%;
        height: 20%;
    }
    .aside__content--2{
        padding-top: 20%;
    }
    .target__language{
        flex-flow: column;
        gap: 5%;
    }
    .img__icon{
        height: 35%;
    }
    .icon__star{
        width: 50%;
    }
}
@media screen and (max-width: 425px) and (max-height: 425px) {
    .section--1{
        background-size: 55% 75%; 
    }
    :root{
        --backgroung-color:#292929;
        --color:#1fa8d1;
        --color-window:rgba(31, 168, 209, 0.7);
        /* style 0 */
        /* --tittle:3rem; */
        --tittle: calc(100vw / 24);
        --subtittle:calc(100vw / 32);
        /* --subtittle:1.8rem; */
        /* --tittle2:1rem; */
        --tittle2:calc(100vw / 28);
        /* --description:0.8rem; */
        --description:calc(100vw / 36);
        /* style 1 */
        /* --buttom_text:0.9rem; */
        --buttom_text:calc(100vw / 36);
        /* --tittle_view:0.9rem; */
        --tittle_view:calc(100vw / 48);
        /* --description_view:0.7rem; */
        --description_view:calc(100vw / 64);
        /* style 2 */
        --buttoms__aside:calc(100vw / 32);

        --window-tittle:calc(100vw / 42);
        --window-description:calc(100vw / 60);
        
        --description_corriculo:calc(100vw / 54);
        --bottoms_download:calc(100vw / 64);
        
        --target-section:calc(100vw / 32);
        --target-tittle:calc(100vw / 52);

        --buttom_expands:calc(100vw / 32);
    }
    .main--1{
        min-height: 100vw;
    }
    .main--2{
        min-height: 100vw;
    }
    .main--3{
        min-height: 100vw;
    }
}
@media screen and (min-width: 426px) and (max-width:800px)  and (max-height: 768px) {
    .section--1{
        background-size: 55% 75%; 
    }
    :root{
        --backgroung-color:#292929;
        --color:#1fa8d1;
        --color-window:rgba(31, 168, 209, 0.7);
        /* style 0 */
        /* --tittle:3rem; */
        --tittle: calc(100vw / 24);
        --subtittle:calc(100vw / 32);
        /* --subtittle:1.8rem; */
        /* --tittle2:1rem; */
        --tittle2:calc(100vw / 28);
        /* --description:0.8rem; */
        --description:calc(100vw / 36);
        /* style 1 */
        /* --buttom_text:0.9rem; */
        --buttom_text:calc(100vw / 36);
        /* --tittle_view:0.9rem; */
        --tittle_view:calc(100vw / 36);
        /* --description_view:0.7rem; */
        --description_view:calc(100vw / 48);
        /* style 2 */
        --buttoms__aside:calc(100vw / 32);

        --window-tittle:calc(100vw / 48);
        --window-description:calc(100vw / 60);
        
        --description_corriculo:calc(100vw / 54);
        --bottoms_download:calc(100vw / 64);
        
        --target-section:calc(100vw / 32);
        --target-tittle:calc(100vw / 52);

        --buttom_expands:calc(100vw / 48);
    }
    .main--1{
        min-height: 100vw;
    }
    .main--2{
        min-height: 100vw;
    }
    .main--3{
        min-height: 100vw;
    }
}